<div class="topimage">
	<img src="images/wbsite-logo/bck_bg.jpg" class="img-responsive" alt="image" title="image">
</div>

<!-- ad-single start here -->
<div class="commontop">
	<div class="container"> 
		<div class="row">
			<div class="col-sm-12 col-xs-12">
				<div class="dashboard">
					<div class="profile">
						<div class="col-sm-3 col-xs-12">
							<img class="img-responsive" src="images/avatar/person1.jpg" style="max-width:70%; border-radius: 50%" alt="image" title="image">
						</div>
						<div class="col-sm-9 col-xs-12 padd0">
							<h4>Ahmed Dhafer</h4>
							<div class="common">
								<p class="des1">Create Account : 2 Years ago</p>
							</div>
							<div class="profile-info">
							    <p class="coins"><span>Coins:</span> 1000(40$) <a href="#!">Learn More</a></p>
							    <p class="coins"><span>My Promote Code:</span> wk3j3jdnxnxn</p>
                                <p class="coins"><span>Marketer Code:</span> kwkkk3jjj</p>
							</div>
							<ul class="list-inline new-icons">
								<li class="active"><a href="dashboard.html"><i class="fa fa-th-large fa-2x"></i><p>Dashboard</p></a></li>
								<li ><a href="dashboard_my_ads.html"><i class="fa fa-archive fa-2x"></i><p>My Ads</p></a></li>
								<li ><a href="dashboard_fav_ads.html"><i class="fa fa-heart-o fa-2x"></i><p>Favourite Ads</p></a></li>
								<li><a href="dashboard_setting.html"><i class="fa fa-cog fa-2x"></i><p>Setting</p></a></li>
								<li><a href="dashboard_form_design.html"><i class="la la-edit la-2x"></i><p>Form-Design</p></a></li>
							</ul>
						</div>
					</div>